/* DEBUG */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.img{
    max-width: 100%;
}

ul,
li,
a{
    text-decoration: none;
    list-style-type: none;
    color: currentColor;
}



/* MEDIA QUERY */



/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {


}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .new-student{
        order: 1;
    }

    .bedge-apps{
        order: 2;
    }

    .student-conter{
        order: 3;
    }

    .sidebar-container{
        width: 68px !important;
        align-items: center;
        padding-left: 0 !important;
        flex-shrink: 0;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}

/* MAX CONTAINER */

.max-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/* HEADER */

.header-container{
    height: 70px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.navbar{
    padding: 13px 0;
}

.container-fluid{
    background-color: white !important;
    padding: 3px 12px !important;
}

.logo-small{
    width: 28px;
}

.search-bar-container > *{
    background-color: rgba(229,229,229,255) !important;
    border: 0 !important;
}

.search-bar{
    flex-grow: 1;
}

#basic-addon1{
    padding: 6px 0px 6px 6px !important;
}

.form-control{
    padding: 6px 12px 6px 6px !important;
}

.nav-item .link-header{
    padding: 6px 10px !important;
    color: rgba(91,88,88,255) !important;
}

.nav-item .link-header:hover{
    color: rgba(27,114,232,255) !important;
}

.nav-item .yellow{
    color: rgba(255,143,0,255) !important;
    padding-right: 0 !important;
}

.dropdown-menu.show {
    position: absolute;
    top: 80%;
    left: -130px;
}

.dropdown-toggle::after{
    display: none;
}

/* MAIN */

.main-container{
    flex-grow: 1;
    display: flex;
}


/* CONTENT CONTAINER */


.content-container{
    flex-grow: 1;
}

.student-section{
    background-color: rgba(27,114,232,255);
    padding: 30px 0;
}

.plus-icon{
    padding: 4px;
    border-radius: 50%;
    margin-left: 5px;

    line-height: 13px;
}

.blue-items{
    background-color: rgba(22,91,186,255) !important;
}

/************* DA CONTROLLARE **************/

.offcanvas.offcanvas-start {
    top: 0;
    left: 100%;
    width: 800px;
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: translatex(-100%);
}

/*******************************/

/* SIDEBAR */


.sidebar-container{
    width: fit-content;
    height: 100%;
}

.side-link{
    padding: 4px 5px;
}

.side-link:hover{
    background-color: gray;
}