/* DEBUG */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.img{
    max-width: 100%;
}

ul,
li,
a{
    text-decoration: none;
    list-style-type: none;
    color: currentColor;
}



/* MEDIA QUERY */



/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {


}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .new-student{
        order: 1;
    }

    .bedge-apps{
        order: 5;
    }

    .student-counter{
        order: 7;
    }

    .sidebar-container{
        width: 68px !important;
        align-items: center !important; 
        padding-right: 0px !important;
        padding-left: 0px !important;
        flex-shrink: 0;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}

/* MAX CONTAINER */

.max-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/* HEADER */

.header-container{
    height: 70px;
    display: flex;
    flex-shrink: 0;
}

.navbar{
    padding: 13px 0;
}

.container-fluid{
    background-color: white !important;
    padding: 3px 12px !important;
}

.logo-small{
    width: 28px;
}

.search-bar-container > *{
    background-color: rgba(229,229,229,255) !important;
    border: 0 !important;
}

.icon-search-bar{
    padding: 8px 4px 8px 8px !important;
}

.search-bar{
    padding: 6px 12px 6px 6px !important;
}

.nav-item .link-header{
    padding: 6px 10px !important;
    color: rgba(91,88,88,255) !important;
}

.nav-item .link-header:hover{
    color: rgba(27,114,232,255) !important;
}

.nav-item .yellow{
    color: rgba(255,143,0,255) !important;
    padding-right: 0 !important;
}

.dropdown-menu.show {
    position: absolute;
    top: 80%;
    left: -130px;
}

.dropdown-toggle::after{
    display: none;
}

/* MAIN */

.main-container{
    flex-grow: 1;
    display: flex;
    overflow: auto;
}


/* CONTENT CONTAINER */


.content-container{
    flex-grow: 1;
    overflow: auto;
}

.student-section{
    background-color: rgba(27,114,232,255);
    padding: 30px 0;
}

.plus-icon{
    padding: 4px;
    border-radius: 50%;
    margin-left: 5px;
    line-height: 13px;
}

.blue-items{
    background-color: rgba(22,91,186,255) !important;
}

.ms-offcanvas {
    width: 800px !important;
}

.bg-header-card{
    background-color: rgba(247,247,247,255) !important;
    border-radius: var(--bs-border-radius);
    border-bottom: 1px solid rgba(231,231,231,255);
}

.list-title-card{
    font-size: 13px !important;
}

.list-content-card{
    font-size: 14px !important;
}

.icon-card-red{
    padding: 3px;
    line-height: 20px;
    color: white;
    background-color: rgba(242,101,81,255);
    border-radius: 50%;
}

.icon-card-setting{
    color: rgba(108,117,125,255);
    border: 1px solid rgba(108,117,125,255);
    padding: 4px;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
}

.ms-card{
    border: 0 !important;
}

/* SIDEBAR */


.sidebar-container{
    width: fit-content;
    height: 100%;
    background-image:url("../img/sidebar-bg.png");
    background-color: rgba(5,30,52,255);
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    overflow: hidden;
}

.side-link{
    padding: 5px 7px;
    border-radius: 3px;
    cursor: pointer;
}

.side-link:hover{
    background-color: gray;
}